In [66]:
import requests
import csv
import pandas as pd
import matplotlib as mpl

url = 'https://data.cityofnewyork.us/api/views/7yc5-fec2/rows.csv'
url_file = requests.get(url)

print('Status code:', url_file.status_code)

Status code: 200

In [94]:

dataset = pd.read_csv(url)
dataset

,DBN,School Name,Category,Year,Total Enrollment,#Grade K,#Grade 1,#Grade 2,#Grade 3,#Grade 4,...,MATH #Level 1,MATH %Level 1,MATH #Level 2,MATH %Level 2,MATH #Level 3,MATH %Level 3,MATH #Level 4,MATH %Level 4,MATH #L3+L4,MATH %L3 + L4
0,01M015,P.S. 015 Roberto Clemente,All Students,2015-16,162.0,32,33,39,23,17,...,25,0.46296296296296297,18,0.3333333333333333,s,s,s,s,11,0.2037037037037037
1,01M015,P.S. 015 Roberto Clemente,Attend school outside district of residence,2015-16,37.0,7,7,11,7,s,...,s,s,s,s,s,s,s,s,s,s
2,01M015,P.S. 015 Roberto Clemente,English Language Learners,2015-16,16.0,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
3,01M015,P.S. 015 Roberto Clemente,Poverty,2015-16,162.0,32,33,39,23,17,...,25,0.46296296296296297,18,0.3333333333333333,s,s,s,s,11,0.2037037037037037
4,01M015,P.S. 015 Roberto Clemente,Reside in temporary housing,2015-16,65.0,12,14,17,10,s,...,11,0.5238095238095238,6,0.2857142857142857,s,s,s,s,s,s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6919,32K562,Evergreen Middle School for Urban Exploration,Attend school outside district of residence,2015-16,71.0,No Data,No Data,No Data,No Data,No Data,...,43,0.6615384615384615,20,0.3076923076923077,s,s,s,s,s,s
6920,32K562,Evergreen Middle School for Urban Exploration,English Language Learners,2015-16,73.0,No Data,No Data,No Data,No Data,No Data,...,60,0.8450704225352113,11,0.15492957746478872,s,s,s,s,s,s
6921,32K562,Evergreen Middle School for Urban Exploration,Poverty,2015-16,297.0,No Data,No Data,No Data,No Data,No Data,...,190,0.6761565836298933,84,0.298932384341637,s,s,s,s,7,0.02491103202846975
6922,32K562,Evergreen Middle School for Urban Exploration,Reside in temporary housing,2015-16,49.0,No Data,No Data,No Data,No Data,No Data,...,31,0.6595744680851063,14,0.2978723404255319,s,s,s,s,s,s
6923,32K562,Evergreen Middle School for Urban Exploration,Students with Disabilities,2015-16,74.0,No Data,No Data,No Data,No Data,No Data,...,60,0.8571428571428571,9,0.12857142857142856,s,s,s,s,s,s

In [107]:
df = pd.DataFrame(dataset, columns=['School Name', 'Category', 'Year', 'Total Enrollment', '%Female', '%Male'])
df.head()

,School Name,Category,Year,Total Enrollment,%Female,%Male
0,P.S. 015 Roberto Clemente,All Students,2015-16,162.0,0.4876543209876543,0.5123456790123457
1,P.S. 015 Roberto Clemente,Attend school outside district of residence,2015-16,37.0,0.6486486486486487,0.35135135135135137
2,P.S. 015 Roberto Clemente,English Language Learners,2015-16,16.0,0.4375,0.5625
3,P.S. 015 Roberto Clemente,Poverty,2015-16,162.0,0.4876543209876543,0.5123456790123457
4,P.S. 015 Roberto Clemente,Reside in temporary housing,2015-16,65.0,0.4,0.6